@media (max-width: 500px){
    .grid-item{
        font-size: 20px;
    }
}
@media (max-width: 1024px){
    #tablica{
        font-size: 14px;
    }
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	tr th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	td { 
		border: none;
		position: relative;
        padding-left: 50%; 
        vertical-align: middle;
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Ime"; }
	td:nth-of-type(2):before { content: "Prezime"; }
	td:nth-of-type(3):before { content: "Email"; }
	td:nth-of-type(4):before { content: "Slika"; }
	
    .boja{
        padding: 2px 20px;
    }
}

@media (min-width: 1024px){    
    main{
        width: 70%;
        margin: auto;
    } 
    #toTopBtn{
        display: none;
    }
    
    body{
        background-color: #cfcfcf;
        color: black;
    }
    .searchForm{
        display: block;
        position: relative;
        top: 25px;
        width: 25%;
        line-height: 20px;
        left: 60%;
        height: 25px;
    }
    #imgmap{
        display: inline;
    }
    .podatci{
        text-align: left;
    }
    .podatci>ul{
        padding-left: 20px;
    }
    .podatci>ul>li{
        width: 220px;
        color: black;
    }
    .index{
        display:none;
    }
    li:hover{
        width: 220px;
        background-color: #f5f5dc;
    }
    a{
        color: black;
    }
    h1{
        vertical-align: middle;
        text-align: center;
        display: inline;
        margin: 15px auto 0;
        z-index: 1;
    }
    h1,h2, header>a{
        color: black;
    }
    footer{
        text-align: center;
        margin-top: 150px;
    }
    header{
        position: fixed;
        top: 0;
        width:100%! important;
        height: 70px;
        white-space: nowrap;
        background-color: #C0C0C0;
        border-bottom: 1px solid black;
        text-align: center;
        vertical-align: middle;
        z-index: 1;
    }
    .grid-container{
        display: grid;
        column-gap: 30px;
        row-gap: 50px;
        grid-template-columns: auto auto auto;
        align-items: stretch;
    }
    .grid-container2{
        grid-template-columns: auto auto auto auto;
    }
    .grid-item.left{
        grid-column: 1/ span 2;
    }
    .grid-item.right{
        grid-column: 2/ span 2;
    }
    .grid-item.mobile{
        display: inline;
    }
    .grid-item{
        font-size: 30px;
        text-align: justify;
        vertical-align: middle;
        height: auto;
        width: 100%;
    }
    .item{
        display: inline-block;
        font-size: 30px;
        width: 30%;
        margin-right: 4%;
        border: 1px solid red;
        border-radius: 5px;
    }
    #drugiGrid>.grid-item{
        border: 1px solid red;
        border-radius: 5px;
        text-align: center;
    }
    .lastrow{
        grid-column: 1/ span 4;
        font-size: 30px;
        text-align: center;
    }
    #navButtonOff:hover{
        background-color: #BCC6CC;
        cursor: pointer;
    }
    #navButtonOn:hover{
        background-color: #CFCFCF;
        cursor: pointer;
    }
    /*registracija.html*/
    #navWrapper{
        position: fixed;
        display:inline-block;
        top: 70px;
        left: 0px;
        width: 260px;
        height: 600px;
        padding-top: 100px;
        border-bottom-right-radius: 4%;
        overflow: hidden;/* zadnji li element croppa border-radius*/
        z-index: 2;
    }
    [id^="navButton"]{
        display: inline-block;
        user-select: none;
        font-size: 30px;
        font-weight: bolder;
        position:fixed;
        max-width: 34px;
        max-height: 34px;
        min-width: 34px;
        min-height: 34px;
        text-align: center;
        top: 85px;
        left: 15px;
        border: 1px solid black;
        border-radius: 4px;
    }
    nav{
        background-color: #CFCFCF;
        visibility: hidden;
        width: 260px;
        font-size: 25px;
    }
    nav>ul>li, nav>ul>li>a{
        height:2em;
        line-height: 2em;
        padding-left: 0.5em;
        margin-bottom: 10px;
    }
    .formWrapper{
        display: block;
        margin: 4em auto;
        width: 60%;
        height: auto;
        position: relative;
        top: 7em;
    }
    #login_button	{
        border-left: 1px solid black;
        float: right !important;
        display: block;
    }
    #register{
        float: right !important;
        border-right: 1px solid gray;
    }
    .text{
        width: 100%;
        height:0.8em;
        padding: 20px 20px;
        display: inline-block;
        box-sizing: border-box;

        font-size: 16px;
        outline: none;
        background-color: #C0C0C0;
        border: none;
        border-bottom: 1px solid darkgrey;
    }
    .textbox {
        background-color: #C0C0C0;
        margin-bottom: 2.5em
    }
    .textbox.error{
        outline-style: solid;
        outline-color: red;
    }
    .textbox.error > input{
        border-color: red;
    }
    .submit, .reset{
        float: right;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 40%;	
    }
    input[type=reset]{
        float: left;
        background-color: red;
    }
    .submit:hover {
        opacity: 0.8;
    }
    label{
        color: black;
        font-weight: bolder;
    }
    /*obrazac*/
    .select-css {
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%;
    }
    input[type="file"] {
        display: none;
    }
    .fileUpload{
        display: inline-block;
        width: 100%;
        padding: 6px 12px;
        cursor: pointer;
    }
    /*Multimedija*/
    #multimedijaSection{
        position: relative;
        top: 7em;
        width: 80%;
        margin:auto;
    }
    .video{
        text-align: justify;
        width: 100%;
        margin-left: 4.5%;
        
    }
    .video>video{
        width: 28.5%;
        padding: 0% 1.5% 1.5% 0%;
        margin: auto;
        margin-left: 1.5%;
        padding: 0% 1.5% 1.5% 0%;
        margin: auto;
        margin-left: 1.5%;
    }
    .iframeWrap{
        position:relative;
        display: inline-block;
        width: 30%;
        padding-top: 20%;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 0;
    }
    .iframeWrap>iframe{
        margin: auto;
        position:absolute;
        top:0;
        left:0;
        width: 90%;
        height: 90%;
        margin: 5% 5% 5% 5%;
    }
    .audioContainer{
        position: initial;
        width: 90%;
        background-color: #A0A0A0;
        border: 1px solid red;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 2%;
    }
    audio{
        position: initial;
        width: 96%;
        margin: 2%;
    }
    audio:first-child, audio:nth-of-type(2), audio:last-child{
        position: initial;
        margin: 2%;
    }
    tr:nth-of-type(odd){
        background-color: #CFCFCF;
    }
    .boja{
        padding: 10px 20px;
    }
    .span2{
        grid-column: 2/ span 1;
    }
    .span3{
        grid-column: 3/ span 1;
    }
}
@media (min-width: 1500px){
    .grid-item{
        font-size: 20px;
    }
    main{
        width: 60%;
        margin: auto;
    }
    .submit, .reset{
        width: 30%;	
    }
}
