*{
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: #b3e0ff;
    color: #24305E;
}
.podatci{
    font-size: 20px;
    text-align: center;
}
.podatci>ul{
    padding-left: 0;
}
.podatci>ul>li{
    color: #24305E;
}
.podatci>ul>li:last-child{
    margin-top: 0.7em;
}
header{
    position: absolute;
    top: 0;
    width:100%;
    height: 70px;
    white-space: nowrap;
    background-color: #0099ff;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}
header>a{
    color: black;
}
footer{
    text-align: center;
    margin-top: 100px;
    z-index: 1;
}
.index{
    margin-top: 200px;
    margin-bottom: 50px;
    width: 100%;
}
.index>ul{
    padding-left: 0;
}
.index>ul>li{
    width: 100%;
    /*background-color: #14A76C;*/
    border: 1px solid #000066;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 0.5em;
}
#imgmap, #navWrapper{
    display: none;
}
.searchForm{
    display: block;
    position: relative;
    top: 95px;
    width: 80%;
    left: 10%;
    background-color: white;
    height: 35px;
    overflow-y: visible;
}
.searchForm > input[type="text"]{
    width: 80%;
    float: left;
}
.searchForm > input[type="submit"]{
    width: 20%;
    float: right;
}
.searchForm>*{
    height: 100%;
}
h2{
    color: #FF652F;
}
main{
    width: 80%;
    margin: auto;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 25px;
    align-items: stretch;
}
.grid-item.mobile{
    display: none;
}
.grid-item{
    font-size: 30px;
    text-align: justify;
    vertical-align: middle;
    width: 100%;
    min-width: 100%;
}
.left,.right{
    grid-column : 1 / span 2;
}
.item{
    display: inline-block;
    font-size: 30px;
    width: 29.9%;
    margin-right: 4%;
    border: 1px solid red;
    border-radius: 5px;
}
#drugiGrid>.grid-item{
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
}
.span2{
    grid-column: 1/ span 1;
}
.span3{
    grid-column: 2/ span 1;
}
.imgcard{
width: 100%;
}

#toTopBtn{
    user-select: none;
    font-size: 30px;
    font-weight: bolder;
    position:fixed;
    max-width: 34px;
    max-height: 34px;
    min-width: 34px;
    min-height: 34px;
    text-align: center;
    bottom: 2%;
    right: 2%;
    border: 1px solid black;
    border-radius: 4px;
}
.text{
    width: 100%;
    height:0.8em;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid darkgrey;
}
.textbox {
    background-color:white;
    margin-top: 2.5em
}
.textbox.error{
    background-color: red;
    border-color: red;
}
.textbox.error > input{
    border-color: red;
}
.submit, .reset{
    float: right;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;	
}
.submit:disabled{
    background-color: grey;
}
input[type=reset]{
    float: left;
    background-color: red;
}
#referrer:hover{
    cursor:pointer;
}
.formWrapper{
    margin-top: 4em;
}
input[type="file"] {
    display: none;
}
.fileUpload{
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    cursor: pointer;
}
label{
    font-size: 20px;
}
.tablica{
    min-height: 600px;
}
#multimedijaSection{
    position: relative;
    top: 5em;
    width: 80%;
    margin:auto;
}
/*jednoznaÄno*/
#tablica{
    display: table;
    border: 1px solid black;
    width: 100%;
}
/*eksplicitno*/
.naslovStupca{
    border: 2px solid black;
}
/*implicitno*/
td{
    border: 1px solid black;
    text-align: center;
}
tr:nth-of-type(odd) { 
  background: white; 
}

.video{
    text-align: justify;
    width: 100%;    
}
.video>video{
    width: 100%;
    margin: auto;
    padding-bottom: 6%;
}
.iframeWrap{
    position:relative;
    display: inline-block;
    width: 100%;
    padding-top: 56.5%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 0;
}
.iframeWrap>iframe{
    margin: auto;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 90%;
}
.audioContainer{
    position: relative;
    width: 100%;
}
audio{
    width: 30%;
}
audio:first-child{
    position: absolute;
    left: 0;
}
audio:nth-of-type(2){
    position: absolute;
    left: 50%;
    margin-left: -15%;
}
audio:last-child{
    position: absolute;
    right: 0;
}